
.nav {
  position: relative;
}

.tiny {
  max-height: 2rem;
}

.profile-card {
  display: flex;

  margin-bottom: 0.5rem;
  align-items: center;
}

.profile-picture {
  margin-left: 1rem;
  border-radius: 15%;
}
